@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #BBB;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.navegacao {
    position: absolute;
    right: 0;
    top: 110px;
}

.navegacao li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 22px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

footer {
    background: url("../img/bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFF;
    font-size: 13px;
    margin: 20px 0 0;
}

@media screen and (max-width: 980px) {
    .caixa {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    .navegacao {
        position: static;
        padding: 10px 0;
    }
}