header {
    background-color: #BBB;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.navegacao {
    position: absolute;
    right: 0;
    top: 110px;
}

.navegacao li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 22px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

footer {
    background: url("../img/bg.jpg");
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #FFF;
    font-size: 13px;
    margin: 20px 0 0;
}